<%= form_for @bucket, url: update_bucket_path(@bucket.token), method: :put do |f| %>
  <div class="row">
    <div class="col-md-6">
      <h4>Bucket name</h4>
      <div class="input-group putsbox-name bm30">
        <%= f.text_field :name, readonly: true %>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Emails
        <small><em>The number of emails received in this bucket.</em></small>
      </h4>
      <h3 id="bucket-request-count"><%= @bucket.emails_count %></h3>
    </div>
  </div>

  <%= render 'buttons' %>
<% end %>